/*TECNICAS*/

#dot-1 {
    top: 50%;
    left: 20%;
}
#dot-2 {
    top: 20%;
    left: 40%;
}
#dot-3 {
    top: 25%;
    left: 50%;
}
#dot-4 {
    top: 80%;
    left: 10%;
}
#dot-5 {
    top: 60%;
    left: 30%;
}
#dot-6 {
    top: 36%;
    left: 35%;
}
#dot-7 {
    top: 25%;
    left: 65%;
}
#dot-8 {
    top: 10%;
    left: 80%;
}
#dot-9 {
    top: 70%;
    left: 12%;
}
#dot-10 {
    top: 40%;
    left: 17%;
}
#dot-11 {
    top: 45%;
    left: 40%;
}
#dot-12 {
    top: 20%;
    left: 45%;
}
#dot-13 {
    top: 9%;
    left: 70%;
}
#dot-14 {
    top: 35%;
    left: 65%;
}
#dot-15 {
    top: 70%;
    left: 40%;
}
#dot-16 {
    top: 65%;
    left: 75%;
}

/*Ferramentas*/

#dot-17 {
    top: 5%;
    left: 9%;
}
#dot-18 {
    top: 20%;
    left: 35%;
}
#dot-19 {
    top: 30%;
    left: 65%;
}
#dot-20 {
    top: 55%;
    left: 73%;
}
#dot-21 {
    top: 80%;
    left: 90%;
}
#dot-22 {
    top: 5%;
    left: 5%;
}
#dot-23 {
    top: 20%;
    left: 25%;
}
#dot-24 {
    top: 40%;
    left: 50%;
}
#dot-25 {
    top: 70%;
    left: 80%;
}
#dot-26 {
    top: 20%;
    left: 20%;
}
#dot-27 {
    top: 60%;
    left: 60%;
}
#dot-28 {
    top: 5%;
    left: 5%;
}
#dot-29 {
    top: 18%;
    left: 31%;
}
#dot-30 {
    top: 30%;
    left: 8%;
}
#dot-31 {
    top: 34%;
    left: 55%;
}
#dot-32 {
    top: 51%;
    left: 36%;
}
#dot-33 {
    top: 54%;
    left: 10%;
}
#dot-34 {
    top: 65%;
    left: 69%;
}
#dot-35 {
    top: 75%;
    left: 42%;
}
#dot-36 {
    top: 76%;
    left: 5%;
}

/*Linguagens e Frameworks*/
#dot-37 {
    top: 89%;
    left: 15%;
}
#dot-38 {
    top: 66%;
    left: 48%;
}
#dot-39 {
    top: 45%;
    left: 77%;
}
#dot-40 {
    top: 15%;
    left: 81%;
}
#dot-41 {
    top: 30%;
    left: 75%;
}
#dot-42 {
    top: 55%;
    left: 50%;
}
#dot-43 {
    top: 75%;
    left: 10%;
}
#dot-44 {
    top: 55%;
    left: 45%;
}
#dot-45 {
    top: 20%;
    left: 70%;
}
#dot-46 {
    top: 70%;
    left: 5%;
}
#dot-47 {
    top: 58%;
    left: 32%;
}
#dot-48 {
    top: 40%;
    left: 8%;
}
#dot-49 {
    top: 35%;
    left: 60%;
}
#dot-50 {
    top: 7%; left: 68%;
}
#dot-51 {
    top: 4%;
    left: 38%;
}
#dot-52 {
    top: 28%;
    left: 32%;
}
#dot-53 {
    top: 7%;
    left: 7%;
}

/*Plataformas*/

#dot-55 {
    top: 5%;
    left: 10%;
}
#dot-56 {
    top: 50%;
    left: 35%;
}
#dot-57 {
    top: 80%;
    left: 85%;
}
#dot-58 {
    top: 5%;
    left: 29%;
}
#dot-59 {
    top: 35%; left: 20%;
}
#dot-60 {
    top: 35%; left: 48%;
}
#dot-61 {
    top: 60%;
    left: 45%;
}
#dot-62 {
    top: 10%;
    left: 60%;
}
#dot-63 {
    top: 50%;
    left: 75%;
}