<section class="footer-bottom">
	<div class="container">
		<div class="sponsor-box">
			<a class="footer-logo first-logo" href="http://www.alura.com.br/">GUJ</a>
			<ul class="footer-sub-list">
				<li class="footer-list-item"><a class="footer-link" href="http://www.alura.com.br/">Cursos online de tecnologia</a>
			</ul>
		</div><!--
--><div class="sponsor-box">
			<a class="footer-logo second-logo" href="http://www.caelum.com.br">CAELUM</a>
			<ul class="footer-sub-list">
				<li class="footer-list-item"><a class="footer-link" href="http://www.caelum.com.br/cursos/java/">Curso de Java</a>
				<li class="footer-list-item"><a class="footer-link" href="http://www.caelum.com.br/curso-android/">Curso de Android</a>
				<li class="footer-list-item"><a class="footer-link" href="http://www.caelum.com.br/curso-javascript-jquery/">Curso de JavaScript</a>
			</ul>
			<ul class="footer-sub-list">
				<li class="footer-list-item"><a class="footer-link" href="http://www.caelum.com.br/cursos/dotnet/">Curso de .NET</a>
				<li class="footer-list-item"><a class="footer-link" href="http://www.caelum.com.br/cursos/agile/">Curso de Agile</a>
				<li class="footer-list-item"><a class="footer-link" href="http://www.caelum.com.br/curso-html-css-javascript/">Curso de HTML e CSS</a>
			</ul>
		</div><!--
--><div class="sponsor-box">
			<a class="footer-logo third-logo" href="http://www.casadocodigo.com.br/">CASA DO CÓDIGO</a>
			<ul class="footer-sub-list">
				<li class="footer-list-item"><a class="footer-link" href="http://www.casadocodigo.com.br">Conheça também os livros da Casa do Código</a>
			</ul>
		</div><!-- sponsor-box -->
	</div><!-- container -->
</section>