/*TECNICAS*/

#dot-1 {
    top: 50%;
    left: 20%;
}

#dot-2 {
    top: 20%;
    left: 40%;
}

#dot-3 {
    top: 25%;
    left: 50%;
}

#dot-4 {
    top: 80%;
    left: 10%;
}

#dot-5 {
    top: 60%;
    left: 30%;
}

#dot-6 {
    top: 36%;
    left: 35%;
}

#dot-7 {
    top: 25%;
    left: 65%;
}

#dot-8 {
    top: 10%;
    left: 80%;
}

#dot-9 {
    top: 70%;
    left: 12%;
}

#dot-10 {
    top: 40%;
    left: 17%;
}

#dot-11 {
    top: 45%;
    left: 40%;
}

#dot-12 {
    top: 20%;
    left: 45%;
}

#dot-13 {
    top: 9%;
    left: 70%;
}

#dot-14 {
    top: 35%;
    left: 65%;
}

#dot-15 {
    top: 70%;
    left: 40%;
}

#dot-16 {
    top: 65%;
    left: 75%;
}