#radar-container {
  padding: 3em 0;
  width: 100%;
  min-height: 17.5em;
  background: #204C64;
}

#radar-container .title {
  color: #fff;
}

.radar {
  height: 400px;
  width: 400px;
  position: relative;
  float: left;
}

.quadrant {
  height: 50%;
  width: 50%;
  position: absolute;
  transition: all .2s linear 0;
}

.quadrant-1{
  top: 0;
  left: 50%;
}

.quadrant-2{
  top: 0;
  left: 0;
}

.quadrant-3{
  top: 50%;
  left: 0;
}

.quadrant-4{
  top: 50%;
  left: 50%;
}

.quadrant .hold {
  height: 100%;
  width: 100%;
}

.quadrant .trial {
  width: 80%;
  height: 80%;
}

.quadrant .assess {
  width: 55%;
  height: 55%;
}

.quadrant .adopt {
  width: 30%;
  height: 30%;
}

.radar-arc {
  box-shadow: 0 0 0 1px #DDDDDD;
  position: absolute;
  background: #fff;
  list-style: none;
  transition: background .2s linear;
}

.quadrant-2 .radar-arc{
  border-radius: 100% 0 0 0;
  bottom: 0;
  right: 0;
}

.quadrant-1 .radar-arc{
  border-radius: 0 100% 0 0;
  bottom: 0;
  left: 0;
}

.quadrant-4 .radar-arc{
  border-radius: 0 0 100% 0;
}

.quadrant-3 .radar-arc{
  border-radius: 0 0 0 100%;
  top: 0;
  right: 0;
}

.radar-item {
  display: inline-block;
  position: absolute;
}

.radar-link {
  font-size: .6em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  color: #fff;
  text-decoration: none;
  border-radius: 100%;
}

.radar-link.muted,
.radar-label.muted {
  cursor: default;
}

.quadrant-2 .radar-link {
  background: #8FA227;
}

.quadrant-1 .radar-link {
  background: #587486;
}

.quadrant-4 .radar-link {
  background: #B70062;
}

.quadrant-3 .radar-link {
  background: #DC6F1D;
}

/*Labels*/

.labels-container {
  display: block;
  overflow: hidden;
  padding-left: 13%;
}

.quadrant-labels {
  opacity: 0;
  font-size: .9em;
  position: absolute;
  visibility: hidden;
  transition: all .2s linear;
}

.quadrant-labels.hovered {
  opacity: 1;
  visibility: visible;
}

.arc-labels {
  width: 8.9em;
  vertical-align: top;
  padding: 1em .3em;
  display: inline-block;
}

.arc-labels .title {
  text-transform: capitalize;
  margin-bottom: .3em;
}

.label-list {
  list-style: none;
}

.label-list .label{
  margin-right: .5em;
}

.label-list .label:after {
  content:  ".";
}

.radar-label {
  text-decoration: none;
  color: #fff;
}

/*Effects*/

#radar-container .quadrant:hover {
  height: 70%;
  width: 70%;
}

#radar-container .quadrant-1:hover {
  top: -22%;
  left: 52%;
}

#radar-container .quadrant-2:hover {
  top: -22%;
  left: -22%;
}

#radar-container .quadrant-3:hover {
  top: 52%;
  left: -22%;
}

#radar-container .quadrant-4:hover {
  top: 52%;
  left: 52%;
}

.quadrant-1 .radar-arc:hover {
  background: #E0E7E9;
}

.quadrant-2 .radar-arc:hover {
  background: #EEF7D1;
}

.quadrant-3 .radar-arc:hover {
  background: #F8ECDF;
}

.quadrant-4 .radar-arc:hover {
  background: #F1DCEA;
}

.quadrant:hover .radar-arc {
  box-shadow: 0 0 0 1px #acacac;
}

.quadrant:hover .radar-link{
  font-size: .8em;
}