*{
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', 'sans-serif';
  font-weight: 300;
  font-size: inherit;
}

html{
  height: 100%
}

body {
  height: 100%
  font-size: 100%;
  color: #686868;
}

.container {
  max-width: 70em;
  margin: 0 auto;
}

header {
  padding: 5em 0;
}

.header-logo,
.header-title {
  display: inline-block;
  vertical-align: middle;
}

.header-logo {
  width: 15em;
  margin-right: 4em;
}

.title {
  color: #000;
}

.label {
  font-weight: bold;
}

.header-title {
  font-size: 5.5em;
}

.section-title,
.quadrant-title {
  font-size: 3em;
}

.article-title {
  font-size: 1.3em;
}

.intro-list {
    margin: 2em 0;

}

.quadrant-article {
  padding: 1em 0;
}

.quadrant-article ul {
  list-style-position: inside;
  margin: 1em 0;
  list-style-type: square;
}

#radar {
    font-size: .7em;
    width: 100%;
    text-align: center;
}

.quadrant-title:before {
  content: "";
  height: 1.2em;
  width: .3em;
  display: inline-block;
  vertical-align: sub;
  margin-right: .2em;
}

#tecnicas .quadrant-title:before {
  background: #8FA227;
}

#ferramentas .quadrant-title:before {
  background: #587486;
}

#linguagens-e-frameworks .quadrant-title:before {
  background: #B70062;
}

#plataformas .quadrant-title:before {
  background: #DC6F1D;
}